In [ ]:
#  ===>  Increasing Number Triangle

n=5
for i in range(n):
    for j in range(i+1):
        print(j+1,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
# ====>   Repeating Row Number Triangle

n=5 
for i in range(n):
    for j in range(i+1):
        print(i+1,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [6]:
# ===>   Continuous Number Triangle

n=5
num=1
for i in range(n):
    for j in range(i):
        print(num,end=" ")
        num +=1
    print()

1
2 3
4 5 6
7 8 9 10

In [ ]:
# ===>   Reverse Row Number Triangle

n=5 
for i in range(1,n+1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
# ====>  Inverted number triangle


n=5 
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
#====> Right-Aligned Number Triangle

n=5
for i in range(1,n+1):
    print("  "*(n-i),end="")
    for j in range(1,i+1):
        print(j,end=" ")
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [1]:
# ===> Even Number Triangle

n=5
n1=2
for i in range(1,n+1):
    for j in range(i):
        print(n1,end=" ")
        n1 +=2
    print()
print("================================")

n=5

for i in range(1,n+1):
    n1=2
    for j in range(i):
        print(n1,end=" ")
        n1 +=2
    print()

2
4 6
8 10 12
14 16 18 20
22 24 26 28 30
================================
2
2 4
2 4 6
2 4 6 8
2 4 6 8 10

In [3]:
# ===> Odd Number Triangle


n=5
n1=1
for i in range(1,n+1):
    
    for j in range(i):
        print(n1,end=" ")
        n1 +=2
    print()
print("================================")

n=5
for i in range(1,n+1):
    n1=1
    for j in range(i):
        print(n1,end=" ")
        n1 +=2
    print()

1
3 5
7 9 11
13 15 17 19
21 23 25 27 29
================================
1
1 3
1 3 5
1 3 5 7
1 3 5 7 9