In [9]:
ip=[1,1,10,-5,9,2]
sn=ip[0]
ssn=ip[0]
for i in ip:
    if i<sn:
        ssn=sn
        sn=i
    elif i<ssn and i!=sn:
        ssn=i
print("The first smallest number is ",sn)
print("The second smallest number is ",ssn)

The first smallest number is  -5
The second smallest number is  1

In [10]:
ip=[10,10,9,4,12,3]
ln=ip[0]
sln=ip[0]
for i in ip:
    if i>ln:
        sln=ln
        ln=i
    elif i>sln and i!=ln:
        sln=i
print("The first largest number is ",ln)
print("The second largest number is ",sln)

The first largest number is  12
The second largest number is  10

In [4]:
def is_prime(n):
    if n<=1:
        return False
    for i in range(2,n):
        if n%i==0:
            return False
    return True
for i in range(1,25):
    if is_prime(i):
        print(i,"prime")
    else:
        print(i,"not prime")

1 not prime
2 prime
3 prime
4 not prime
5 prime
6 not prime
7 prime
8 not prime
9 not prime
10 not prime
11 prime
12 not prime
13 prime
14 not prime
15 not prime
16 not prime
17 prime
18 not prime
19 prime
20 not prime
21 not prime
22 not prime
23 prime
24 not prime

In [2]:
n=7
flag=True 
for i in range(2,n):
    if n%i==0:
        flag=False
        break
if flag:
    print("prime")
else:
    print("not prime")

prime

In [14]:
def fib(n):
    a,b=0,1
    series=[]
    for i in range(n):
        series.append(a)
        a,b=b,a+b
    print("fib",series)
fib(5)

fib [0, 1, 1, 2, 3]

In [3]:
n=153
n1=len(str(n))
def armstrong(n):
    res=0
    t=n
    while t>0:
        r=t%10
        res=res+r**n1
        t = t//10
    return res
num=armstrong(n)
if n==num:
    print("Armstrong Number")

else:
    print("Not Armstrong")

Armstrong Number

In [22]:
n=157
def d_count(n):
    e=n
    count=0
    while e>0:
        count += 1
        e = e//10
    return count
def armstrong(n):
    t=n
    res=0
    while t>0:
        d=t%10
        res=res+d**d_count(n)
        t=t//10
    return res
if n==armstrong(n):
    print("Armstrong")
else:
    print("Not Armstrong")

Not Armstrong

In [4]:
ip = ['sravani', 'sravan', 'kumar', 'kumari', 'lalitha', 'lalith', 'arjun', 'lakshmi', 'nandini']

def classify_gender(name):
    female_suffixes=['i','a']
    male_suffixes=['an','th','n','r']

    female_suffixes={'sravani','kumari','lalitha','lakshmi','nandini'}
    male_suffixes={'sravan','kumar','arjun','lalith'}

    if name in female_suffixes:
        return 'female'
    elif name in male_suffixes:
        return 'male'
    else:
       return 'unknown'
op=[(name,classify_gender(name)) for name in ip]

grouped_op = [tuple(op[i:i+3]) for i in range(0, len(op), 3)]

print(grouped_op)

[(('sravani', 'female'), ('sravan', 'male'), ('kumar', 'male')), (('kumari', 'female'), ('lalitha', 'female'), ('lalith', 'male')), (('arjun', 'male'), ('lakshmi', 'female'), ('nandini', 'female'))]

In [ ]:
n=153
n1=len(str(n))
def armstrong(n):
    res=0
    t=n
    while t>0:
        d=t%10
        res=res+d**n1
        t=t//10
    return res
num=armstrong(n)
if n==num:
    print("armstrong")
else:
    print("not armstrong")

not armstrong

In [3]:
def kiran(s):
    res=""
    for i in range(len(s)):
        if ord(s[i])<=90:
            res +=chr(ord(s[i])+32)
        else:
            res +=chr(ord(s[i])-32)
    return res
s="KiRaN"
print(kiran(s))

kIrAn